// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: rgba(255,0,0,1.0);
@keyframes throb {
  0% { background-color: #4A7F00; box-shadow: 0 0 3px #4A7F00; }
  50% { background-color: #94FF00; box-shadow: 0 0 10px #94FF00; }
  100% { background-color: #4A7F00; box-shadow: 0 0 3px #4A7F00; }
}
 
// ----------------------------------------------------------------------------
// Widget-dsc styles
// ----------------------------------------------------------------------------
.widget-dsc {
  vertical-align: baseline !important;
  padding: 0px !important;
  background-color: $background-color;
  min-height: 300px;
 
  .dsc-head{
    width: 300px;
    color: rgba(20,10,10,0.9);
    text-transform: uppercase;
    padding: 2px;
    font-weight: 700;
    font-size: 0.7em;
    text-shadow: 1px 1px rgba(200,200,200,0.9);

    .left {
      float: left;
//      padding: 4px 0px;
      width:40%
    }
 
    .right {
      float: right;
//      padding: 4px 0px 4px;
      width:58%
    }
  }
 
  .dsc-body {
    border-top: 2px solid #8b8b8b;
    padding: 12px;
    color: rgba(5,10,10,1.0);
    text-shadow: 1px 1px #0e0e0e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;

    .button {
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border: 2px solid #f5f5f5;
      border-radius: 50%;
      color: #f5f5f5;
      background: rgba(150,160,125,0.5);
      box-shadow: 0 0 3px gray;
    }

    .button[data-state="grey"] {
      background-color: gray;
    }
 
    .button[data-state="green"] {
      background-color: green;
    }
 
    .button[data-state="red"] {
      background-color: red;
    }
 
    .button[data-state="yellow"] {
      background-color: yellow;
    }
 
    .button[data-state="blue"] {
      background-color: blue;
    }
 
    .button[data-state="true"] {
      animation: throb 1500ms infinite;
    }

    .status {
      padding: 4px 0px 4px 10px;
      width:100%
    }

    li {
      list-style: none;
    }

    .message {
      padding: 0px 4px;
      font-size: 0.6em;
    }
  }
}
