// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: rgba(200,210,205,1.0);
 
// ----------------------------------------------------------------------------
// Widget-gdoor styles
// ----------------------------------------------------------------------------
.widget-gdoor {
  vertical-align: baseline !important;
  padding: 0px !important;
  background-color: $background-color;
  min-height: 300px;
 
  .dsc-head{
    vertical-align: top;
    width: 300px;
    color: rgba(20,10,10,0.9);
    text-transform: uppercase;
    padding: 2px;
    font-weight: 700;
    font-size: 0.7em;
    text-shadow: 1px 1px rgba(200,200,200,0.9);

    .left {
      display: inline-block;
      width: 38%;
    }
 
    .right {
      display: inline-block;
      width: 58%;
    }
  }
 
  .dsc-body {
    border-top: 2px solid #8b8b8b;
    padding: 5px;
    color: rgba(5,10,10,1.0);
    text-shadow: 1px 1px #0e0e0e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;

    .button {
      display: inline-block;
      width: 60%;
      height: 35px;
      line-height: 35px;
      border: 1px solid #f5f5f5;
      border-radius: 10%;
      color: #f5f5f5;
      background: rgba(150,160,125,0.5);
      box-shadow: 0 0 3px gray;
    }

    .button[data-state="grey"] {
      background-color: gray;
    }
 
    .button[data-state="green"] {
      background-color: green;
    }
 
    .button[data-state="red"] {
      background-color: red;
    }
 
    .button[data-state="yellow"] {
      background-color: yellow;
    }
 
    .button[data-state="blue"] {
      background-color: blue;
    }
 
    //.status {
    //  padding: 4px 0px 4px 10px;
    //  width:100%
    //}

    li {
      list-style: none;
    }

    textarea.message {
      padding: 10px 0 0 0;
      height:auto;
      font-size:0.5em;
      font-family:Courier New;
    }
  }
}
