<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="16" data-view="Dsc"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="98" data-view="Gdoor" data-title="Garage Door"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="22" data-view="Temp" data-title="Temperature"></div>
    </li>
  </ul>
<div>
